# python
*.py[cod]

# packages
*.egg-info
*.egg*
dist
build

# setup
/AUTHORS
/ChangeLog

# ztools/build/
# ztools/dist/
# ztools/ztools.egg-info/

# example
example/ex_plot/

# test
test/ts_plot/
test/common/ts_fbasic/backup/
test/common/ts_fbasic/backup_folder1/
test/common/ts_fbasic/backup1.tar
test/common/ts_fbasic/backup1.zip
test/common/ts_fbasic/backup_folder1.zip
