
*.pyc

ztools/build/
ztools/dist/
ztools/ztools.egg-info/

example/ex_plot/

test/ts_plot/
test/ts_fbasic/backup/
test/ts_fbasic/backup_folder1/
test/ts_fbasic/backup1.tar
test/ts_fbasic/backup1.zip
test/ts_fbasic/backup_folder1.zip
